[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "*"
pysocks = "*"
deeppavlov = "*"
peewee = "*"

[requires]
python_version = "3.8"
